.header {
    font-family: monospace, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #96adc2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.header img {
    width: 110px;
}

.header a:link, a:visited {
    text-decoration: none;
    color: #385385;
}

.header a:hover {
    color: #5d6e8f;
}
